.home {
  .features {
    background-color: #f1fdf7;
    display: flex;
    justify-content: center;
    padding: 100px 0px;

    .container {
      width: 1400px;
      display: flex;
      align-items: center;
      gap: 200px;

      .item {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
